<div class= "center ">
	<h2>Chesshall</h2>
	<h3>
	    This is the home page for the
	    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	    sample application.
  	</h3>
		<p>
			Добро пожаловать в шахматный холл! Но так-как сайт пока не работает, почитай о нас на <a href="http://chesshall.atlassian.net">Atlassian</a>
		</p>
	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>