<div class="row-fluid rowfluidwidth CHborderStyleUp">
	<div class="span3">
		<h1>Шахматы</h1>
			<p>
				Добро пожаловать в шахматный холл! Но так-как сайт пока не работает, почитай о нас на <a href="http://chesshall.atlassian.net">Atlassian</a>
			</p>
		<div class= "center ">
		<h2>Chesshall</h2>
			<p>
			Добро пожаловать в шахматный холл! Но так-как сайт пока не работает, почитай о нас на <a href="http://chesshall.atlassian.net">Atlassian</a>
			</p>
			<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
		</div>
	</div>
	<div class="span3 CHsquarestyle">
	</div>
	<div class="span6">
	</div>
</div>
<div class="row-fluid rowfluidwidth CHborderStyleDown">
	<div class="span3 CHsquarestyle">
	</div>
	<div class="span3">
	</div>
	<div class="span6 CHsquarestyle">
	</div>
</div>
