<div class="row-fluid rowfluidwidth CHborderStyleUp">
	<div class="span3">
		<div class= "center ">
		<h2>Chesshall</h2>
			<p>
			Добро пожаловать в шахматный холл! Но так-как сайт пока не работает, почитай о нас тут <a href="http://chesshall.atlassian.net">Atlassian</a>
			</p>
			<%= link_to "Присоединиться!", signup_path, class: "btn btn-large btn-primary" %>
		</div>
	</div>
	<div class="span3 CHsquarestyle">
		<div class= "center ">
		<h2>Игрокам</h2>
			<p>
			Загрзуите приложение для Windows
			</p>
			<%= link_to "Скачать", "#", class: "btn btn-large btn-primary" %>
		</div>
	</div>
	<div class="span6" style="height: max">
	<div class= "center ">
		<h2>Шахматным секциям</h2>
			<p>
			Создайте страницу вашего шахматного клуба. Размещайте фотографии. Проводите и сохраняйте все турниры в одном месте.
			</p>
	</div>
	</div>
</div>
<div class="row-fluid rowfluidwidth CHborderStyleDown">
	<div class="span3 CHsquarestyle">
		<div class= "center ">
		<h2>Организаторам турниров и судьям</h2>
			<p>
			Проводите жеребьевку турнира онлайн.
			</p>
		</div>
	</div>
	<div class="span3">
	</div>
	<div class="span6 CHsquarestyle">
	</div>
</div>
