<navigation>
	<div>
		<ul class="nav nav-pills nav-stacked">
			<li><a><%= link_to "Мои сообщества", community_path %></a></li>
			<li><a href="#">Мои турниры</a></li>
			<li><a href="#">Настройки</a></li>
		</ul>
	</div>
</navigation>